layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                // format_left   "{mode} #[fg=#89B4FA,bold]{session}"
                // format_center "{tabs}"
                format_left   "{mode} {tabs}"
                // format_right  "{command_git_branch} {datetime}"
                format_space  ""
                format_right  "{pipe_zjstatus_hints}" 

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"


                mode_locked "#[bg=#272B31,fg=#ACBDC3,bold] {name} "
                mode_normal "#[bg=#8ECCFF,fg=#00325b,bold] {name} "
                mode_resize "#[bg=#B08CBA,fg=#291b2c,bold] {name} "
                mode_tmux   "#[bg=#EBD2A7,fg=#251a08,bold] {name} "
                mode_default_to_mode "resize"

                tab_normal              "#[fg=#ACBDC3] {index} {name} "
                tab_active              "#[fg=#8ECCFF,bold] {index} {name} "

                pipe_zjstatus_hints_format "{output}"
            }
        }
    }
}
