themes {
    oshmes {
        fg "#bbbbbb"
        bg "#3a3a3a"
        black "#3a3a3a"
        red "#F97583"
        green "#71efb3"
        yellow "#FFAB70"
        blue  "#9bcaff"
        magenta "#B392F0"
        cyan "#a0fff8"
        white "#bbbbbb"
        orange "#D08770"
    }
}

