ui:
  pane_frames:
    rounded_corners: true

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

// simplified_ui true
pane_frames false
// default_layout "development"
copy_command "pbcopy"                     // osx
copy_on_select true
theme "nules"

keybinds {
    unbind "Ctrl h"

    normal {
      bind "Ctrl h" { MoveFocus "Left"; }
      bind "Ctrl j" { MoveFocus "Down"; }
    }

    pane {
      bind "s" { NextSwapLayout; }
    }
}

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir "/path/to/my/layout_dir"

// The folder in which Zellij will look for themes
//
// theme_dir "~/.config/zellij/themes"
